* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
    text-align: center;
}

body {
    width: 100%;
    background-image: url("img/land.png");
    background-size: cover;
    background-position: center;
}

main {
    margin: auto;
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    position: relative;
}

#game div {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

span {
    transition: transform .5s;
}

.face {
    transform: rotateY(90deg);
    transition: transform .5s;
}

#theBox {
    background-image: url("img/mandalorian-end.jpg");
    background-size: cover;
    color: white;
    font-size: 2vw;
    -webkit-text-stroke: 1px #000;
}
