* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    font-family: sans-serif;
}

body {
    width: 100%;
}

main {
    margin: auto;
}

#game {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#game div {
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin: .5rem;
    border: 5px black solid;
}

